.app-header {
  background-color: $clr4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3.5rem;

  .menu-icon {
    z-index: 110;
    @include for-narrow-layout {
      display: none;
    }
  }
  .logo {
    margin-inline-start: 1rem;
    width: 80px;
  }

  nav {
    @include for-mobile-layout {
      display: flex;
      background-color: $clr4;
      box-shadow: -1px 0px 10px #2e2e2e47;
      margin-inline-end: 0;
      flex-direction: column;
      position: fixed;
      right: 0;
      top: 0;
      width: 50%;
      padding: em(18px) em(30px) em(18px) em(30px);
      height: 100vh;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.2s ease-in-out;
      z-index: 100;
      &.open {
        transform: translateX(0);
      }
    }
    a {
      margin-inline-end: 1rem;
      font-size: em(18px);
      @include for-mobile-layout {
        margin-bottom: em(45px);
        margin-top: em(10px);
        margin-inline-end: 0;
        font-size: em(20px);
      }

      &:hover {
        color: $clr1;
      }
    }
  }

  .active {
    color: $clr1;
  }
}

.app-screen {
  @include for-mobile-layout {
    position: fixed;
    background-color: rgba(90, 90, 90, 0.614);
    z-index: 50;
    width: 100%;
    height: 100%;
    filter: blur(150%);
    opacity: 1;
    transition: all 0.5s;
  }
}
