.contact-filter {
  display: flex;
  justify-content: center;
  margin-block-start: 1rem;
  input {
    width: 100%;
    padding: em(8px);
    border-radius: 5px;
    border: none;
    outline: 1px solid $clr3;
    font-weight: bold;
    color: $clr4;
    &:focus {
      outline: 1px solid $clr2;
    }
    &::placeholder {
      color: $clr4;
      font-weight: bold;
    }
  }
}
