.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  margin: 6.5rem auto;
  text-align: center;

  @include for-mobile-layout {
    width: 85%;
  }

  .signup-form {
    margin-block: 1rem;
    color: $clr2;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;

    label {
      font-size: 1.2rem;
      margin-block-end: 0.5rem;
    }

    input {
      align-self: center;
      margin-block: 5px;
      width: 180px;
      padding: em(8px);
      border-radius: 5px;
      border: none;
      outline: 1px solid $clr3;
      font-weight: bold;
      color: $clr4;

      &:focus {
        outline: 1px solid $clr2;
      }

      &::placeholder {
        color: $clr4;
        font-weight: bold;
      }
    }

    button {
      align-self: center;
      background-color: $clr2;
      border: none;
      outline: none;
      width: 80px;
      border-radius: 5px;
      padding: em(5px);
      color: $clr3;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        color: $clr2;
        background-color: $clr3;
      }
    }
  }
}